* {
    font-family: Ubuntu;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-links a {
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.auth-buttons button {
    margin-left: 10px;
}

.search {
    margin-top: 30px;
    text-align: center;
}

input[type="search"] {
    height: 30px;
    width: 300px;
}

button.srch {
    height: 30px;
    width: 60px;
}

h1.main-heading {
    margin-top: 70px;
    text-align: center;
    font-size: 70px;
    margin-bottom: 1px;
}

p.main-sub-head {
    margin-top: 1px;
    text-align: center;
}

.center-container {
    display: flex;
    justify-content: center;   
    align-items: center;                   
}

.textbox {
    margin-top: 50px;
    width: 650px;
    height: 80px;
    border: 2px solid;
    text-align: center;
    padding: 10px;
}