{% extends 'base.html' %}

{% block body %}


<legend>

    <h3>
        <center>Create your account</center>
    </h3>

    {% for msg in get_flashed_messages() %}
    <div>{{msg}}</div>
    {% endfor %}

    <hr width="50%">
    <form action="/auth/register/user-credentials" method="post">
        <fieldset>
            {{form.hidden_tag()}}
            <p>
                {{form.username.label}}
                {{form.username()}}
            </p>
            <p>
                {{form.password.label}}
                {{form.password()}}
            </p>
                {{form.verify_password.label}}
                {{form.verify_password()}}
            </p>
            <p>
                {{form.submit()}}
                <button type="reset">Clear</button>
            </p>
        </fieldset>

    </form>

</legend>


{% endblock %}