{% extends 'base.html' %}

{% block body %}

<form action="{{ url_for('articles.global_search') }}" method="get" class="search">
    <input type="search" name="q" placeholder="Search articles..." />
    <button type="submit" class="srch">Search</button>
</form>

{% for article in articles %}
    <hr>
    <h1><a href="{{ url_for('articles.view_article', article_id=article.id) }}">{{ article.title }}</a></h1>
    <h3>{{ article.category.label }}</h3>
    <p>{{ article.body[:article.body | list | length // 3] }}</p>
    <span>{{article.created.strftime('%Y-%m-%d %H:%M:%S')}}</span>
{% endfor %}

{% endblock %}
