{% extends 'base.html' %}

{% block body %}

<form action="{{ url_for('articles.search', id=article.id ) }}" method="get" class="search">
    <input type="search" name="q" placeholder="Search articles..." />
    <button type="submit" class="srch">Search</button>
</form>


<hr>
<h1>{{ article.title.capitalize() }}</h1>
<span>{{article.created.strftime('%Y-%m-%d %H:%M:%S')}}</span>
<hr>
<h6>{{ article.category.label }}</h6>
<p>Likes {{ article.likes | length }} Comments {{ article.comments | length }}</p>
<p>{{ article.body }}</p>

<form action="{{ url_for('articles.react', article_id=article.id) }}" method="post"
    style="display: flex; flex-direction: column; width: 300px;">
    <label for="like_button">
        like
    </label>
    <input type="hidden" name="article_id" value="{{article.id}}">
    <input type="submit" id="like_button">
</form>

{% if not comment_to_edit %}
    <form action="{{ url_for('articles.comment', article_id=article.id) }}" method="post"
        style="display: flex; flex-direction: column; width: 300px;">
        <textarea name="body" id="comment_body" cols="10" rows="3" placeholder="What's on your mind ?"></textarea>
        <input type="hidden" name="article_id" value="{{article.id}}">
        <input type="submit" id="comment_button" name="comment" value="Post Comment">
    </form>
{% else %}
    <form action="{{ url_for('articles.edit_comment', article_id=article.id) }}" method="post"
        style="display: flex; flex-direction: column; width: 300px;">
        <textarea name="body" id="comment_body" cols="10" rows="3">{{comment_to_edit.body}}</textarea>
        <input type="hidden" name="comment_id" value="{{comment_to_edit.id}}">
        <input type="submit" id="comment_button" name="comment" value="Update Comment">
    </form>
{% endif %}

<hr>

{% if article.comments | length == 0 %}
<p>No Comments Yet</p>
{% else %}
    {% for comment in article.comments %}
        {% if comment_to_edit is none or comment.id != comment_to_edit.id %}
            <p>{{comment.user.username}}&nbsp;{{comment.created.strftime('%Y-%m-%d %H:%M:%S')}} &nbsp;{% if comment.edited %}(edited){% endif %}</p>
            <p>{{comment.body}}</p>
            {% if comment.user.id == current_user.id %}
                <p style="display: flex; flex-direction: row; width: 600px;">
                <form action="{{article.id}}/delete_comment" method="post">
                    <input type="hidden" name="comment_id" value="{{comment.id}}">
                    <input type="hidden" name="article_id" value="{{article.id}}">
                    <button type="submit">Delete</button>
                </form>
                <form action="{{article.id}}/edit_comment" method="get">
                    <input type="hidden" name="comment_id" value="{{comment.id}}">
                    <input type="hidden" name="article_id" value="{{article.id}}">
                    <button type="submit">Edit</button>
                </form>
                </p>
            {% endif %}
        {% endif %}
    {% endfor %}    
{% endif %}

{% endblock %}