<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="{{url_for('static', filename='css/font.css')}}">-->
    <!--<link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    {% block head %}{% endblock %}
    <title>Demo</title>
</head>

<body>

    <div class="navbar">

        <h1 class="logo"><a href="{{ url_for('index') }}">Panhinda</a></h1>

        <nav class="nav-links">
            <a href="/">Home</a>
            <a href="/articles">Articles</a>
            <a href="/create">Create</a>
        </nav>

        {% if current_user.is_anonymous %}
        <div class="auth-buttons">
            <button><a href="{{ url_for('auth.login') }}">Login</a></button>
            <button><a href="{{ url_for('auth.register') }}">Signup</a></button>
        </div>
        {% else %}
        <div class="welcome-note">
            <p>Hello, {{current_user.first_name}}!</p>
            <a href="{{ url_for('auth.logout') }}"><button>Logout</button></a>
        </div>
        {% endif %}

    </div>
    
    {% block body %}{% endblock %}

</body>

</html>