<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <title>Panhinda</title>
</head>

<body>

    <nav>
        <b>Welcome to Panhinda:</b>&nbsp;&nbsp;
        <a href="/">Home</a>
        <a href="/articles">Articles</a>
        <a href="/create">Create</a>&nbsp;&nbsp;
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <hr>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}

</body>

</html>