{% extends 'base.html' %}

{% block body %}

<form action="{{ url_for('articles.global_search') }}" method="get" class="search">
    <input type="search" name="q" placeholder="Search articles..." />
    <button type="submit" class="srch">Search</button>
</form>

<h1 class="main-heading">Welcome to Panhinda</h1>
<p class="main-sub-head">A Sri Lankan Community</p>

<div class="center-container">
    <div class="textbox">
        <p>Hello</p>
    </div>
</div>

<a class ce="/register">
    <button>Get Started Now</button>
</a>

{% endblock %}