<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Demo</title>
</head>
<body>
    <div class="navbar">
        <h1 class="logo">Panhinda</h1>
        <nav class="nav-links">
          <a href="#">Home</a>
          <a href="#">Articles</a>
          <a href="#">Create</a>
        </nav>
        <div class="auth-buttons">
          <button>Login</button>
          <button>Signup</button>
        </div>
    </div>

    <form action="/search" method="GET" class="search">
        <input type="search" name="q" placeholder="Search articles..." />
        <button type="submit" class="srch">Search</button>
    </form>

    <h1 class="main-heading">Welcome to Panhinda</h1>
    <p class="main-sub-head">A Sri Lankan Community</p>

    <div class="center-container">
        <div class="textbox">
            <p>Hello</p>
        </div>
    </div>
    

    </div>
      
    
</body>
</html>